<script>
    document.addEventListener('DOMContentLoaded', () => {

// Get all "navbar-burger" elements
const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

// Check if there are any navbar burgers
if ($navbarBurgers.length > 0) {

  // Add a click event on each of them
  $navbarBurgers.forEach( el => {
    el.addEventListener('click', () => {

      // Get the target from the "data-target" attribute
      const target = el.dataset.target;
      const $target = document.getElementById(target);

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      el.classList.toggle('is-active');
      $target.classList.toggle('is-active');

    });
  });
}

});
</script>

<style>
    #intro{
        margin: 40px
    }

    .colmar{
        margin: 20px
    }
</style>

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="http://localhost:1337/">
        <img src="https://pbs.twimg.com/profile_images/1208433111/Qpon_Logo.png" width="112" height="28">
      </a>
  
      <a role="button" class="navbar-burger burger" ar-label="menu" aria-exiapanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Home
        </a>
  
        <a class="navbar-item">
          Search
        </a>

        <a class="navbar-item">
            Create
        </a>
        
        <a class="navbar-item">
            Admin
        </a>

      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

<section id= "intro">
    <p style="font-size: 20px"><b>Q-Pon</b></h1>
    <p>Redeem your coins for dining coupons</p>
</section>

<section>
    <div class="columns" style="height: 500px">
        <div class="column card colmar">
            <p><b>HK Island</b></p>
        </div>
        <div class="column card colmar">
            <p><b>Kowloon</b></p>
        </div>
        <div class="column card colmar">
            <p><b>New Territories</b></p>
        </div>
    </div>

</section>